<template>
    <div class="col-md-6 offset-3">
        <div class="border-0 text-center">
            <img src="/app/assets/images/failure_outline.png" width="100" height="100"
                 class="image-responsive"
                 style="margin: 0 auto;"/>
            <h3>An error occurred</h3>
            <div class="alert alert-danger ks-border-active ks-solid-light">
                <p>@{{msg}}</p>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                msg:null
            }
        }
    }
</script>

<style>

</style>
