<template>
    <div>
        <div>
            <div class="row">
                <div class="col-md-6 btn text-success text-center">Question {{ current_question + 1}}
                    of {{total_question}}
                </div>

                <div class="col-md-6 btn text-danger text-center"><span v-show="is_timed">{{min}}:{{sec}}</span></div>
            </div>

            <hr>

            <div v-for="(question, index) in questions" :key="question.Id"
                 v-show="index==current_question">
                <div v-if="question.Image" class="row">
                    <div class="ui segment">
                        <img class="ui centered medium image" :src="question.Image"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <br>
                        <h3 class="u-h6 u-text-bold u-mb-small " v-html="question.Name">

                        </h3>

                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="text-lefts">

                        <div class="option__container">
                            <div class="option" v-for="option in question.Options">
                                <label class="custom-control custom-checkbox"
                                       :for="option.Id">
                                    <input :id="option.Id" type="radio"
                                           class=""
                                           :value="option.Id" v-model="question.Answered"/>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{option.Name}}</span>
                                </label>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="col-md-2"></div>
            </div>
        </div>

        <br>
        <hr>
        <br><br>
        <div class="row">


            <div class="col-md-2"></div>

            <div class="col-md-8 col-sm-12">
                <a class="c-btn c-btn--info pull-left" v-on:click="prevQuestion" v-show="showPrev"><< Prev </a>

                <div class="u-text-center">
                    <a class="c-btn c-btn--info" v-on:click="nextQuestion" v-show="showNext">Next >></a>

                    <a class="c-btn c-btn--danger pull-right" v-on:click="submit" :disabled="submitted">Submit</a>
                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
        </div>


        <!-- <div class="card-block">
             <div class="row col-md-12">
                 <div class="col-md-8">
                     <div class="row">
                         <div class="col-md-2">
                             <button v-on:click="prevQuestion" v-show="showPrev"
                                     class="btn btn-primary-outline ks-light mt-3 ks-rounded pull-left">&laquo;
                                 Prev
                             </button>
                         </div>
                         <div class="col-md-8">
                             <div v-for="(question, index) in questions" :key="question.Id"
                                  v-show="index==current_question">
                                 <div v-if="question.Image" class="row">
                                     <div class="ui segment">
                                         <img class="ui centered medium image" :src="question.Image"/>
                                     </div>
                                 </div>
                                 <div class="row">
                                     <h4 class="ks-text-bold" id=""><span>{{question.Name}}</span></h4>
                                 </div>
                                 <div class="text-left options">
                                     <div class="option__container">
                                         <div class="option" v-for="option in question.Options">
                                             <label class="custom-control custom-checkbox"
                                                    :for="option.Id">
                                                 <input :id="option.Id" type="checkbox"
                                                        class=""
                                                        :value="option.Id" v-model="question.Answered"/>
                                                 <span class="custom-control-indicator"></span>
                                                 <span class="custom-control-description">{{option.Name}}</span>
                                             </label>
                                  Exam   </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="text-center">
                                 <hr/>
                                 <button v-on:click="submit" :disabled="submitted"
                                         class="btn btn-primary">Submit Exam
                                 </button>
                             </div>
                         </div>
                         <div class="col-md-2">
                             <button v-on:click="nextQuestion" v-show="showNext" type="button"
                                     class="btn btn-primary-outline mt-3 ks-light ks-rounded pull-right">
                                 Next &raquo;
                             </button>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-4">
                     <ul class="options">
                         <li v-for="(question,key) in questions">
                             <button :class="QuestionIsAnswered(key)? 'btn btn-circle btn-success':'btn btn-circle btn-default'"
                                     @click="moveTo(key)">Q {{key + 1}}
                             </button>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>-->


    </div>


</template>
<script>
    import bus from './../../../events/eventBus.vue';
    export default {
        data(){
            return {
                current_question: 0,
                showPrev: false,
                showNext: true,
                showSubmit: false,
                submitted: false,
                minute: 0,
                second: 0,
                exam: this.$store.state.exam,
                questions: this.$store.state.questions,
                config: this.$store.state.config,
                total_question: this.$store.state.questions.length,
                is_timed: this.$store.state.config.is_timed,
                duration: this.$store.state.config.time
            }
        },
        components: {},

        methods: {
            prevQuestion: function () {
                if (this.current_question > 0) {
                    this.current_question = this.current_question - 1;
                }
                this.toggleBtnVisibility();
            },
            nextQuestion: function () {
                var lastquestion = this.total_question - 1;
                if (this.current_question < lastquestion) {
                    this.current_question = this.current_question + 1;
                }
                this.toggleBtnVisibility();

            },
            toggleBtnVisibility: function () {
                var page = this.current_question;
                var total = this.total_question - 1;
                if (page > 0 && page < total) {
                    this.showNext = true;
                    this.showPrev = true;
                }
                if (page == 0) {
                    this.showNext = true;
                    this.showPrev = false;
                }

                if (page === total) {
                    this.showNext = false;
                    this.showPrev = true;
                    this.showSubmit = true;
                }

                if (page === 0 && total === 0) {
                    this.showNext = false;
                    this.showPrev = false;
                }

            },

            startTimer: function () {
                var time = this.config.time;
                console.log(time);
                time = new Date(time * 1000);
                this.minute = time.getUTCMinutes() + (time.getUTCHours() * 60);
                this.second = time.getUTCSeconds();
                this.interval = setInterval(this.tick, 1000);
            },
            tick: function () {
                if (this.second > 0) {
                    this.second--;
                    return;
                }
                if (this.second == 0 && this.minute > 0) {
                    this.minute--
                    this.second = 59;
                    return;
                }
                if (this.minute == 0 && this.second == 0) {
                    //time up;
                    //this.submitExam();
                    clearInterval(this.interval);
                    this.submit();
                    return;
                }
            },
            confirmSubmit: function () {
                var result = confirm("Are you sure you want to submit?");
                if (result) {
                    this.submit();
                }
                return;
            },
            submit: function () {
                if (this.submitted) {
                    //exam was submitted submitted
                    return;
                }
                this.submitted = true;
                var answers = [];
                var time = this.minute + ':' + this.second;
                this.questions.forEach(function (q, index) {
                    answers.push({'question_id': q.Id, 'option_id': JSON.stringify([q.Answered])});
                })
                var params = {'exam_id': this.exam.ref_id, 'questions': answers, time: time, log_id: null};
                this.$store.dispatch('submitExam', params).then((response) => {
                    bus.$emit('changeStep', 'submittedSuccessfully');
                });
            },
            moveTo: function (index) {
                this.current_question = index;
            },
            QuestionIsAnswered: function (index) {
                var ans = this.questions[index].Answered;
                if (ans.length > 0) {
                    return true;
                }
                return false;
            }

        },
        created() {
            this.toggleBtnVisibility();
            if (this.is_timed) {
                //start timer automatically
                this.startTimer();
            }
        },
        computed: {
            min: function () {
                if (this.minute < 10) {
                    return '0' + this.minute
                }
                return this.minute;
            },
            sec: function () {
                if (this.second < 10) {
                    return '0' + this.second;
                }
                return this.second;
            }
        },
    }
</script>
<style>

</style>