<template>
    <div id="">
        <div class="container">
            <component :is="currentView" :active-page="currentView"></component>
        </div>
    </div>
</template>


<script>
    import examComponent from './examComponent.vue';
    import loadingComponent from './loadingComponent.vue';
    import bus from './../../../events/eventBus.vue';
    import submittedSuccessfully from './submittedSuccessfullyComponent.vue';

    export default{
        name: 'take-exam',
        props: ['refId'],
        data(){
            return {
                currentView: 'loadingComponent',
                ref_id: this.refId
            }
        },

        created: function () {
            bus.$on('changeStep', ($event) => {
                this.currentView = $event;
            });

            bus.$on('DataSaved', ($event) => {
                this.link = $event.link;
                this.currentView = 'createdSuccessfully';
            });
            this.$store.dispatch('getExam', this.ref_id).then((response) => {
                this.$store.dispatch('examIsLoaded', this.ref_id).then((response) => {
                    this.currentView = 'examComponent';
                });
            });
        },

        components: {examComponent, submittedSuccessfully, loadingComponent,},

        methods: {
            changeComponent: function (view) {
                this.currentView = view;
            },

            submitExam: function (params) {

                params.log_id = this.log_id;
                console.log(params);
                this.changeComponent('loading-component');
                this.$http.post(this.post_data_url, params).then(function (response) {
                    var response = JSON.parse(response.bodyText);
                    if (response.status == true) {
                        this.result = response.data; // get data from the backend
                        this.changeComponent('success-response-component');
                    } else {
                        this.msg = response.msg;
                        this.changeComponent('error-response-component');
                    }
                });
            }
        }
    }
</script>

<style>

</style>