<template>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <div class="text-center">
                    <img src="/images/success.png" width="70">
                    <h3>Your exam has been submitted</h3>
                    <p class="alert alert-success">
                        Below is the summary of the Test taken.
                    </p><br/>
                </div>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Attempt</th>
                    <td>{{result.attempt}}</td>
                </tr>
                <tr>
                    <th scope="row">Total Number of Questions</th>
                    <td>{{result.total}}</td>
                </tr>
                <tr>
                    <th scope="row">Your Score</th>
                    <td>Please contact School Admin</td>
                </tr>
                </tbody>

                <tbody>
                <tr>
                <td><a href="/home" class="btn btn-danger small">Go To Home</a></td>
                <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    import store from './store.js'
    export default {
        data(){
            return {
                result:this.$store.state.result
            }
        }
    }
</script>