<template id="loading-template">
    <div class="row col-md-12" v-if="loading">
        <div class="col-md-4 offset-4">
            <div class="loading">
                <img src="{{asset('app/assets/images/loading.gif')}}" alt="loading" style="margin:0px auto">
            </div>
        </div>
    </div>
</template>
