<template>
    <div>
        <multiselect v-model="option_selected" label="code" placeholder="Select at least one course" track-by="id"
                     :options="options" :multiple="true" :taggable="true"></multiselect>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import  bus from './eventBus.vue';
    export default {
        components: {Multiselect},
        data () {
            return {
                option_selected: this.$store.state.selected_courses
            }
        },
        created: function () {
            bus.$on('assigned_successfully', ($event) => {
                this.option_selected = [];
            });
        },

        computed: {
            options: function () {
                return this.$store.state.courses;
            },
        },
        watch: {
            option_selected: function (val) {
                console.log(val);
                this.$store.commit('updateSelectedCourses', val);
            },
        }
    }
</script>

<!-- New step!
     Add Multiselect CSS. Can be added as a static asset or inside a component. -->
<style src="./../../../css/multiselect.min.css"></style>
