<template>

<div class="row col-md-12">
    <ul class="pagination pagination-sm">
        <li v-if="pagination.current_page > 1" class="page-item">
            <a href="#" class="page-link" aria-label="Previous" v-on:click.prevent="nextPage(pagination.current_page - 1)">
               <span aria-hidden="true" class="la la-caret-left">
                                                </span>
            </a>
        </li>
        <li v-for="page in pagesNumber" :class="{'active': page == pagination.current_page}" class="page-item">
            <a href="#" class="page-link" v-on:click.prevent="nextPage(page)">{{ page }}</a>
        </li>
        <li v-if="pagination.current_page < pagination.last_page" class="page-item">
            <a href="#" aria-label="Next" v-on:click.prevent="nextPage(pagination.current_page + 1)" class="page-link">
                <span aria-hidden="true" class="la la-caret-right"></span>
            </a>
        </li>
    </ul>
</div>
</template>
<script>
    import bus from './eventBus.vue'

    export default{
        computed: {

            pagesNumber: function () {
                if (!this.pagination.to) {
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                var pagesArray = [];
                for (from = 1; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            },
            pagination: function () {
                return this.$store.state.pagination;

            },
            offset: function () {
                return this.$store.state.pagination.per_page;
            }
        },
        methods: {
            nextPage: function (page) {
                bus.$emit('getPageCalled', page);
            }
        }
    }
</script>
