<template>
    <div>
        <h2>Bulk Exam Upload</h2>
        <span v-if="emptyQuestions(questions)" @click="back()" class="btn btn-danger"><i class="fa fa-arrow-circle-left"></i> Back</span>
        <vue-xlsx-table @on-select-file="handleSelectedFile">
            <div v-if="emptyQuestions(questions)" class="btn btn-info"><i class="fa fa-file-excel-o"></i> Excel Upload</div>
            <div v-if="!emptyQuestions(questions)" class="btn btn-info"><i class="fa fa-file-excel-o"></i> Select another file</div>
        </vue-xlsx-table>
        <br><br>
        <div class="note">
            <div class="danger" v-show="error_notifications.length !==0">
                <span v-for="error in error_notifications">
                    <strong>{{error}}</strong>
                    <br/>
                </span>
            </div>
        </div>
        <div v-if="!emptyQuestions(questions)">
            <h3> List of Questions, Options and Anwser </h3>
            <div class="row" v-if="questions">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Question</th>
                            <th scope="col">Options</th>
                            <th scope="col">Answer</th>
                        </tr>
                        </thead>
                        <tbody v-for="(question, index) in questions">
                        <tr>
                            <th scope="row">{{index+1}}</th>
                            <td><p v-html="question.name"></p></td>
                            <td>{{ getOptionString(question.options) }}</td>
                            <td>{{ getCorrectOption(question.options) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" v-if="questions">
                <div class="col-md-12">
                    <span class="btn btn-success pull-right" @click="warnAndPublish()">Save & Publish</span>
                    <span class="btn btn-success pull-right" @click="saveFormData()">Save Only</span>
                    <span @click="back()" class="btn btn-danger pull-left">Go back</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import  axios from 'axios';
    import bus from './../../../events/eventBus.vue'
    import stepComponent from "./stepComponent.vue";

    export default {
        props: ['activePage', 'edit'],
        data () {
            return {
                error_notifications: [],
                questions: [],
                processing: false,
            }
        },
        created: function () {
            if (!this.emptyQuestions(this.$store.state.questions)) {
                this.questions = this.$store.state.questions
            }
        },
        components: {stepComponent},
        methods: {

            handleSelectedFile (convertedData) {
                if (this.excelHasCorrectHeaders(convertedData.header)){
                    this.processUploadedData(convertedData);
                }else{
                    this.error_notifications.push('Please check the excel file that was uploaded it is probably not in the correct format, nothing was updated!')
                }

            },
            processUploadedData(uploadedData) {
                this.questions = [];
                let old_this = this;
                let excel_questions = uploadedData.body;
                excel_questions.forEach(
                    function (item) {
                        let options = item.Options.split(',');
                        let question_obj = {
                            name: item.Question,
                            image: null,
                            options: [],
                        };
                        options.forEach(
                            function (option, index) {
                                let option_obj = {
                                    option: option,
                                    correct_option: item.Answer == index + 1
                                };
                                question_obj.options.push(option_obj);
                            }
                        );
                        old_this.questions.push(question_obj);
                    });

            },
            back(){
                //save Question to Store, then change view
                let params = [];
                params.question = this.questions;
                this.$store.commit('updateQuestions', params);
                let currentView = 'createStepOne';
                bus.$emit('changeStep', currentView);
            },
            saveFormData: function (save) {

                if (this.hasError()) {
                    swal('Error!', 'An error occurred, some field might have not been filled !', 'error');
                    return;
                }
                this.processing = true;
                let params = [];
                if (save === 'publish') {
                    this.$store.commit('activateExam')
                }
                params.question = this.questions;
                this.$store.commit('updateQuestions', params);
                this.$store.dispatch('saveExamData', this.edit).then((response) => {
                    console.log(response.status);
                    if (response.status === true) {
                        this.$store.commit('postUpdateExam', response.data);
                        bus.$emit('DataSaved', response);
                        this.processing = false;
                    } else if (response.status === false) {
                        this.processing = false;
                        swal('Error!', response.msg, 'error');
                    } else {
                        this.processing = false;
                        swal('Error!', 'Server error occurred, Please try again later!', 'error');
                    }
                }).catch((error) => {
                    console.log(error);
                    this.ServerErrors = error;
                    this.processing = false;
                    swal('Error!', 'Server error occurred, Please try again later!', 'error');
                });
            },
            hasError() {
                this.error_notifications = [];
                let ques = this.questions;
                let state = this;
                if (ques.length === 0) {
                    this.error_notifications.push('No Question yet cannot save Exam')
                }
                ques.forEach(function (row, index) {
                    if (row.name === null) {
                        state.error_notifications.push('Question ' + (index + 1) + ' is not filled')
                    }
                    row.options.forEach(function (childRow, childIndex) {
                        if (childRow.option === null) {
                            state.error_notifications.push('Question ' + (index + 1) + ', Option ' + (childIndex + 1) + ' is not filled')
                        }
                    })
                });

                if (this.error_notifications.length === 0) {
                    return false;
                }
                return true;
            },
            warnAndPublish(){
                swal('Are you sure?', 'Once Published, you will not be able to edit exam questions!', 'warning', {
                    buttons: true,
                    dangerMode: true,
                }).then((willPublish) => {
                    if (willPublish) {
                        this.saveFormData('publish');
                    }
                });
            },
            emptyQuestions(questions){
                return (questions.length === 0 || (questions.length === 1 && questions[0].name === null));
            },
            getCorrectOption: function (options) {
                let correctOptionValue = "No Answer";
                options.forEach(function (option) {
                    //console.log(option);
                    if(option.correct_option){
                        correctOptionValue = option.option;
                    }
                });
                return correctOptionValue;
            },
            getOptionString(options){
                return options.map(e => e.option).join(",");
            },
            excelHasCorrectHeaders(header){
                this.error_notifications = []; //reset the error variable before checking for new errors
                return header[0] === '#' && header[1] === "Question" && header[2] === "Options" && header[3] === "Answer";
            }
        }
    }
</script>