<template>
    <div class="row col-md-12">
        <div class="col-md-8 offset-2">
            <div class="text-center">
                <div class="text-center">
                    <img src="/images/success.png" width="70">
                    <h3>Your exam has been created/updated Successfully</h3>
                    <p class="alert alert-success">
                        Find a summary of your created exam below.</p>
                    <br/>
                </div>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Exam Name</th>
                    <td>{{exam.name}}</td>
                </tr>
                <tr >
                    <th scope="row">Mark Obtainable</th>
                    <td>{{exam.mark}}</td>

                </tr>
                <tr v-if="exam.has_deadline">
                    <th scope="row">Expires on</th>
                    <td>{{new Date(exam.end)}}</td>

                </tr>
                <tr>
                    <th scope="row">Total Number of Questions</th>
                    <td>{{exam.total_question}}</td>
                </tr>
                <tr>
                    <th scope="row">Attempt Allowed</th>
                    <td>{{exam.attempt_allowed}}</td>
                </tr>
                <tr v-if="exam.is_timed">
                    <th scope="row">Time Allowed</th>
                    <td>{{exam.time}}</td>
                </tr>
                </tbody>
            </table>
            <div v-if="!exam.active && !processing" class="alert alert-warning" role="alert">
                However this exam hasn't been published click <code>publish</code> if you wish to publish it now

            </div>
            <a v-if="!exam.active"
               :class="processing?'c-btn c-btn--info loading button disabled right floated':'ui primary button right floated'"
               @click="warnAndPublish()">Publish
            </a>
            <a v-if="!processing" class="c-btn c-btn--secondary button right floated" :href="'/start/'+exam.ref_id+'/exam'"
               target="_blank">Preview Exam</a>

            <a v-if="!exam.active && !processing" class="c-btn c-btn--warning button right floated"
               :href="'/exam/'+exam.ref_id+'/edit'">Edit Exam</a>

            <a v-if="!processing" class="c-btn c-btn--secondary button right floated" href="/exam"><i class="angle up icon"></i>All Exam</a>
        </div>
    </div>
</template>
<script>
    import store from './store.js'
    export default {
        props: ['link'],
        data(){
            return {
                processing: false,
                exam: this.$store.state.exam,
                question: this.$store.state.questions,
                severErrors: null
            }
        },
        methods: {
            publish(){
                this.processing = true;

                this.$store.dispatch('publishExam', this.exam).then((response) => {
                    if (response.status == true) {
                        this.exam.active = true;
                        swal('Success!', 'Exam has been published!', 'success');
                        this.processing = false;
                    } else {
                        this.processing = false;
                        swal('Error!', 'Server error occurred, please try again later!', 'error');
                    }
                }).catch((error) => {
                    console.log(error);
                    this.ServerErrors = error;
                    this.processing = false;
                    swal('Error!', this.ServerErrors, 'error');
                });
            },
            warnAndPublish(){
                swal('Are you sure?', 'Once Published, you will not be able to edit exam questions!', 'warning', {
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willPublish) => {
                        if (willPublish) {
                            this.publish();
                        }
                    });
            }
        }
    }
</script>