<template>
    <div>
        <div class="">
            <div class="danger" v-show="error_notifications.length !==0">
                <span v-for="error in error_notifications">
                    <strong>{{error}}</strong>
                    <br/>
                </span>
            </div>
        </div>
        <fieldset class="custom-fieldset" v-for="(question, index) in questions">
            <legend class="custom-legend h5 font-weight-bold">Question {{index + 1}} - 
            <a href="#" class="text-info" @click="questions.splice(index,1)">(Remove this Question)</a></legend>
            <div class="card border-0 panel-default ks-solid row  m-0">
                <div class="form-group row m-0">

                    <a href="#" class="text-info" @click="questions.splice(index,1)">(Remove this Question)</a>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                  <!--<input type="text" required="required" value="" v-model="question.name" :name="question.name"
                               class="c-input form-control" placeholder="Type in Question (This field is required)">-->

                        <textarea class="form-control" required="required" value="" v-model="question.name" :name="question.name">

                        </textarea>
                        <!--<textarea
                                class="form-control"
                                id="editor"
                                rows="5"
                                placeholder="Content"
                                v-model="question.name" :name="question.name"
                                v-tinymce-editor="content">
                        </textarea>-->

                    </div>
                    <div class="col-sm-12" v-if="!question.image">
                        <label for="image" class="img-responsive form-control-label">Exam Image (Optional)</label>
                        <div>
                            <label class="custom-file">
                                <input type="file" accept="image/*" :name="'questionImage'+index"
                                       class="c-input custom-file-input" @change="onFileChange(index, $event)">
                                <span class="custom-file-control"></span>
                            </label>
                        </div>
                    </div>
                    <div v-else>
                        <img :src="question.image"/>
                        <button class="btn btn-danger" @click="removeImage(index)">x Remove</button>
                    </div>
                    <div v-else="" class="col-sm-12">
                        <div class="ui segment">
                            <img class="img-responsive" :src="question.image"/>
                            <a class="btn btn-danger centered" @click="removeImage(index)">x Remove</a>
                        </div>
                    </div>
                </div>
                <div class="form-group row m-0" v-for="(option, index) in question.options">
                    <div class="col-md-6">
                        <label for="name" class="form-control-label">Option {{index + 1}}
                            <span class="text-danger">*</span>
                        </label>

                        <a href="#" class="text-info" @click="question.options.splice(index, 1)">
                            (Remove this option)
                            </a>
                        <div class="col-sm-12">
                            <input type="text" v-model="option.option"
                                   :name="option.option"
                                   required="required" class="c-input form-control "
                                   placeholder="Option (This field is required)">
                        </div>
                    </div><!---/col-md-8-->
                    <div class="col-md-4">
                        <label class="form-control-label">Correct Option</label>
                        <div class="col-sm-12">
                            <label class="">
                                <input type="checkbox" name="random_question"
                                       v-model="option.correct_option"
                                       value="1" id="random_question">
                                <span class="ks-wrapper"></span>
                                <span class="ks-indicator"></span>
                                <span class="ks-on">Yes</span>
                                <span class="ks-off">No</span>
                            </label>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        <div class = "row">
            <div class="col-md-4">
                        <button type = "button" class="c-btn c-btn--secondary border-0" @click="question.options.push(JSON.parse(JSON.stringify(new_option)))">+ More Options
                        </button>
                    </div>
        </div>
        <br><br>

       
        </fieldset>
        
        <hr>
        <br>
         <div class="form-group row m-3">
            <div class="col flex-last">
                <button type="button" class="c-btn c-btn--info border-0"
                        @click="questions.push(JSON.parse(JSON.stringify(new_question)))"><i
                        class="la la-plus-circle"></i> + Add More Question
                </button>
            </div>
        </div>
        <br>
        <!---Exam Mark-->
        <div>
            
            <button v-if="!processing" class="c-btn c-btn--danger left floated" @click="back()"><i
                    class="reply icon"></i>Go Back
            </button>
            
            <button v-if="!processing" class="c-btn c-btn--success button right floated"
                    @click="warnAndPublish()">Save & Publish
            </button>

            <button v-if="!processing" class="c-btn c-btn--secondary right floated"
                    @click="saveFormData()">Save Only
            </button>
            <button v-if="processing" class="ui primary loading button disabled right floated">Loading</button>
        </div>
    </div>
</template>

<script>
    import  axios from 'axios';
    import bus from './../../../events/eventBus.vue'
    import stepComponent from "./stepComponent.vue";


    export default{
        props: ['activePage', 'edit'],
        data () {
            return {
                error_notifications: [],
                questions: [],
                new_question: {
                    name: null,
                    image: null,

                    options: [
                        {
                            option: null,
                            correct_option: false,
                        }
                    ],
                },
                new_option: {
                    option: null,
                    correct_option: false,
                },
                processing: false,
            }
        },
        mounted() {
            let config = {
                height: this.height
            };
            let vm = this;
            config.callbacks = {
                onInit: function () {
                    $(vm.$el).summernote("code", vm.model);
                },
                onChange: function () {
                    vm.$emit('update:model', $(vm.$el).summernote('code'));
                },
            };
            $(this.$el).summernote(config);
        },

        created: function () {
            this.questions = this.$store.state.questions
        },
        components: {stepComponent},
        methods: {
            back(){
                //save Question to Store, then change view
                let params = [];
                params.question = this.questions;
                this.$store.commit('updateQuestions', params);
                let currentView = 'createStepOne';
                bus.$emit('changeStep', currentView);
            },
            addNewQuestion () {
                this.questions.push(this.new_question);
            },
            addNewOption (index) {
                this.questions[index].options.push(this.new_option);
            },
            saveFormData: function (save) {

                if (this.hasError()) {
                    swal('Error!', 'An error occurred, some field might have not been filled !', 'error');
                    return;
                }
                this.processing = true;
                let params = [];
                if (save === 'publish') {
                    this.$store.commit('activateExam')
                }
                params.question = this.questions;
                this.$store.commit('updateQuestions', params);
                this.$store.dispatch('saveExamData', this.edit).then((response) => {
                    console.log(response.status);
                    if (response.status === true) {
                        this.$store.commit('postUpdateExam', response.data);
                        bus.$emit('DataSaved', response);
                        this.processing = false;
                    } else if (response.status === false) {
                        this.processing = false;
                        swal('Error!', response.msg, 'error');
                    } else {
                        this.processing = false;
                        swal('Error!', 'Server error occurred, Please try again later!', 'error');
                    }
                }).catch((error) => {
                    console.log(error);
                    this.ServerErrors = error;
                    this.processing = false;
                    swal('Error!', 'Server error occurred, Please try again later!', 'error');
                });
            },
            hasError() {
                this.error_notifications = [];
                let ques = this.questions;
                let state = this;
                if (ques.length === 0) {
                    this.error_notifications.push('No Question yet cannot save Exam')
                }
                ques.forEach(function (row, index) {
                    if (row.name === null) {
                        state.error_notifications.push('Question ' + (index + 1) + ' is not filled')
                    }
                    row.options.forEach(function (childRow, childIndex) {
                        if (childRow.option === null) {
                            state.error_notifications.push('Question ' + (index + 1) + ', Option '+(childIndex+1)+' is not filled')
                        }
                    })
                });

                if (this.error_notifications.length === 0) {
                    return false;
                }
                return true;
            },
            onFileChange(index, e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0], index);
            },
            createImage(file, index) {
                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.questions[index].image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            removeImage(index) {
                this.questions[index].image = '';
            },
            warnAndPublish(){
                swal('Are you sure?', 'Once Published, you will not be able to edit exam questions!', 'warning', {
                    buttons: true,
                    dangerMode: true,
                }).then((willPublish) => {
                    if (willPublish) {
                        this.saveFormData('publish');
                    }
                });
            }
        }
    }


</script>



<style>
    .upload_img {
        width: 30%;
        margin: auto;
        display: block;
        margin-bottom: 10px;
    }
</style>