<template>
    <div>
        <!-- We imported a template to display step progress
        <step-component :active-page="activePage"></step-component>-->

        <!-- Banner-->
        <div class="">
            <div class="danger" v-show="error_notifications.length !== 0">
                <strong v-for="error in error_notifications"> {{error}}<br/></strong>
                <br/>
            </div>
        </div>

        <!--Form Area-->
        

        <form class="ui form">
            <div v-if="edit">
                <div class="ui segment">
                    <p>You are editing a exam.</p>
                </div>
            </div>

            <div v-else="">
                <h3>Create Exam</h3>
            </div>

            <hr>

            <!-- first category-->
            <h5>Exam Information</h5>

            <div class="field">
                <label>Name <span class="text-danger">*</span> </label>
                <input type="text" v-validate="'required'" class="c-input form-control" v-model="exam.name" id="name"
                       name="name" placeholder='Exam Name'>
                <span v-show="errors.has('name')" class="text-danger">{{ errors.first('name') }}</span>
            </div>

            <!--end of first category-->
            <!--Second Category-->
            <h3 class="ui dividing header">Grade</h3>
            <div class="two fields">
                <div class="field">
                    <label>Mark Obtainable <span class="text-danger">*</span> </label>
                    <input type="number" v-model="exam.mark"
                           placeholder="Enter maximum mark obtainable" class="c-input form-control">
                    <span class="help-block text-muted small text-danger">This is required</span>
                </div>
            </div>
            <!--end of Second category-->

            <!--Third  Category-->
            <h4  class="">Time Required</h4>
            <div class="two fields">
                <div class="field">
                    <label>Timed Exam</label>
                    <div class="">
                        <input type="checkbox" v-model="exam.is_timed">
                        <label></label>
                        <span class="help-block text-muted small text-danger">You must specify Duration if your exam is timed</span>
                    </div>
                </div>
                <div class="field" v-if="exam.is_timed===true">
                    <label>Duration(HH:mm) <span class="text-danger">*</span> </label>
                    <vue-timepicker v-model="time" :hide-clear-button="true"></vue-timepicker>
                    <span class="help-block text-muted small text-danger">This is required only if the exam is timed</span>
                </div>
            </div>

            <h3 class="ui dividing header">Subjects/Class</h3>
            <div class="two fields">
                <div class="field">
                    <label>Select Subject <span class="text-danger">*</span> </label>
                    <select v-model="exam.subject_id" class="form-control c-input">
                        <option disabled value="">Please select one</option>
                        <option v-for="subject in subjects" :value="subject.id">{{ subject.name }}</option>
                    </select>
                    <span class="help-block text-muted small text-danger">This is required</span>
                </div>
                <div class="field">
                    <label>Select Class <span class="text-danger">*</span> </label>
                    <select v-model="exam.level_id" class="c-input">
                        <option disabled value="">Please select one</option>
                        <option v-for="level in levels" :value="level.id">{{ level.name }}</option>
                    </select>
                    <span class="help-block text-muted small text-danger">This is required</span>
                </div>
            </div>
            <!--end of third category-->

            <!--Fourth Category-->
            <h4 class="">Question</h4>
            <div class="two fields">
                <div class="field">
                    <label>Randomize Questions </label>
                    <div class="">
                        <input type="checkbox" checked v-model="exam.random_question">
                        <label></label>
                        <span class="help-block text-muted small">Specify if the questions should be selected at random or in the specified order</span>
                    </div>
                </div>
                <div class="field">
                    <label>No of questions allowed <span class="text-danger">*</span> </label>
                    <input type="number" v-validate="'required|numeric|min:1'" name="total_question" v-model="exam.total_question" class="c-input">
                    <label class="help-block text-muted small">How many questions for this exam?</label>
                    <span v-show="errors.has('total_question')"
                          class="help text-danger">{{ errors.first('total_question') }}</span>
                </div>
            </div>
            <!--end of fourth Category-->

            <!--sixth Category-->
            <!--end of sixth Category-->
            <div v-if="!processing">
            
                <div v-show="edit" class="c-btn c-btn--success pull-right" tabindex="0" v-on:click="updateStepOne('editQuestion')">Save & Go to Questions</div>

                <div v-show="edit" class="c-btn c-btn--info pull-right" tabindex="0" v-on:click="updateStepOne('exit')">Save & Exit</div>

                <div v-show="!edit" class="c-btn c-btn--secondary pull-right" tabindex="0" v-on:click="proceed()">Add Questions Manually </div>
                <div v-show="!edit" class="c-btn c-btn--info pull-right" tabindex="0" v-on:click="proceedUpload()">Bulk Upload Questions</div>

            </div>
            <div v-else>
                <button class="ui primary loading button disabled right floated">Loading</button>
            </div>
        </form>
    </div>


</template>
<script>
    import bus from './../../../events/eventBus.vue';
    import VueNumeric from 'vue-numeric';
    import VueTimepicker from 'vue2-timepicker'

    export default {
        props: ['activePage', 'edit'],
        data(){
            return {
                processing: false,
                error_notifications: [],
                exam: [],
                subjects: [],
                levels: [],
                time:{
                    HH:"00",
                    mm:"05"
                }
            }
        },
        components: {VueTimepicker},
        watch: {
            time: function (val) {
                this.exam.time = val.HH + ':' + val.mm;
            }
        },

        methods: {
            proceed(){
                this.processing = true;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        //Todo Display error if validator fails
                        //console.log(result);
                    }
                    if (this.isValid()) {
                        let params = [];
                        params.exam = this.exam;
                        this.$store.state.time = this.time;
                        this.$store.commit('updateExam', params);
                        let currentView = 'createStepTwo';
                        this.processing = false;
                        bus.$emit('changeStep', currentView);
                    } else {
                        this.processing = false;
                        swal('Error!', 'An error occurred, some field might have not been filled Correctly !', 'error');
                    }

                })
            },

            proceedUpload(){
                this.processing = true;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        //Todo Display error if validator fails
                        //console.log(result);
                    }
                    if (this.isValid()) {
                        let params = [];
                        params.exam = this.exam;
                        this.$store.state.time = this.time;
                        this.$store.commit('updateExam', params);
                        let currentView = 'createStepTwoUpload';
                        this.processing = false;
                        bus.$emit('changeStep', currentView);
                    } else {
                        this.processing = false;
                        swal('Error!', 'An error occurred, some field might have not been filled Correctly !', 'error');
                    }

                })
            },

            updateStepOne(type){
                this.processing = true;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                    }
                    if (this.isValid()) {
                        let params = [];
                        params.exam = this.exam;
                        let currentView = 'loadingComponent';
                        this.$store.commit('updateExam', params);
                        this.$store.dispatch('updateStepOne', this.edit).then((response) => {
                            if (response.status === true) {
                                if(type === 'exit'){
                                    bus.$emit('DataSaved', response);
                                }
                                else if(type === 'editQuestion'){
                                    currentView = 'editQuestion';
                                    bus.$emit('changeStep', currentView);
                                }

                                this.processing = false;
                            } else {
                                this.processing = false;
                                swal('Error!', 'Server error occurred, some field might have not been filled Correctly !', 'error');
                            }


                        }).catch((error) => {
                            console.log(error);
                            this.ServerErrors = error;
                            this.processing = false;
                        });
                    }
                    else{
                        this.processing = false;
                        swal('error!', 'An error occurred, some field might have not been filled Correctly !', 'error');
                    }
                })
            },

            isValid(){
                this.error_notifications = [];
                if (this.exam.name == '' || this.exam.name === null) {
                    this.error_notifications.push('You must provide a Name for Exam');
                }
                if (this.exam.attempt_allowed < 1 ) {
                    this.error_notifications.push('Attempt allowed must not be less than 1');
                }
                if (this.exam.total_question < 1 ) {
                    this.error_notifications.push('The question allowed field should not be less than ONE question');
                }
                if (this.exam.mark < 1) {
                    this.error_notifications.push('Mark must not be less than 1');
                }
                if (this.exam.level_id === null || this.exam.subject_id === null) {
                    this.error_notifications.push('Select Class and Level');
                }
                if (this.error_notifications.length === 0) {
                    return true;
                }
                return false;
            },
        },
        created() {
            this.exam = this.$store.state.exam;
            this.subjects = this.$store.state.subjects;
            this.levels = this.$store.state.levels;
            this.time = this.$store.state.time;
        },
        mounted(){
        }
    }
</script>

<style>

</style>