<template>
    <div>
        <div class="ui segment">
            <h2>Questions</h2>
        </div>

        <edit-modal-component :question="selected_question" :questionIndex="selected_question_index"
                              :editing="editing"></edit-modal-component>
        <div class="body">
            <div class="col-md-12">
                <ul v-if="questions.length > 0" class="list-unstyled">
                    <li v-for="(question, index) in questions">
                        <div class="ui segment">
                            <img v-if="question.image" class="ui centered medium image" :src="question.image">
                            <br/>
                            <p class="question">({{index+1}}) {{question.name}}</p>
                            <ul v-if="question.options.length > 0" class="options">
                                <li v-for="(option, index) in question.options">
                                    <button :class="option.correct_option?'btn btn-success btn-circle':'btn btn-default btn-circle'">
                                        {{index + 1}}


                                    </button>
                                    <span class="option.correct_option?'font-weight-bold':null"> {{option.option}}</span>
                                    <span>
                                            <span v-if="option.correct_option" class="text-success">
                                                <span class="fa fa-check-circle-o "></span>
                                            </span>
                                    </span>
                                </li>
                            </ul>
                            <div v-else="" class="alert alert-danger">
                                <em>No options</em>
                            </div>
                            <div class="row mt-4">
                                <ul class="list-inline">

                                    <li class="list-inline-item">
                                        <button class="c-btn c-btn--warning border-0"
                                                @click="editQuestion(index)"> <span
                                                class="fa fa-edit">  Edit Question</span>
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="c-btn c-btn--danger border-0 text-danger"
                                                @click="deleteQuestion(index)">
                                            <span class="fa fa-remove">  Delete Question</span>
                                        </button>
                                    </li>

                                    <li class="list-inline-item"> <i class="fa fa-calendar"></i> Created on {{question.created_at}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br/>
                    </li>
                </ul>
                <div v-else="" class="row col-md-12">
                    <div class="alert alert-danger col-md-12">
                        <p>There are no questions in this exam, it is advised to add at least a question to this exam</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
           <!-- <div class="form-group row m-3">
                <div class="col flex-last">
                    <button type="button" class="c-btn c-btn--secondary border-0"
                            @click="newQuestion()">
                        <i class="la la-plus-circle"></i>
                        Add more Question


                    </button>
                </div>
            </div>-->
            </div>


            <button type="button" class="c-btn c-btn--secondary border-0"
                            @click="newQuestion()">
                        <i class="la la-plus-circle"></i>
                        Add more Question</button>
        </div>

        </div>


    </div>
</template>

<script>
    import  axios from 'axios';
    import bus from './../../../events/eventBus.vue';
    import stepComponent from "./stepComponent.vue";
    import editModalComponent from "./EditModalComponent.vue";

    export default{
        props: ['activePage', 'edit'],
        data () {
            return {
                questions: [],
                new_question: {
                    name: null,
                    exam_id: this.$store.state.exam.id,
                    image: null,
                    options: [
                        {
                            option: null,
                            correct_option: false,
                        }
                    ],
                },
                selected_question: {},
                selected_question_index: null,
                processing: false,
                editing: true,
            }
        },
        created: function () {
            this.questions = this.$store.state.questions;
            //Watch for Changes made in question after update
            bus.$on('updatedQuestion', ($event) => {
                this.questions.splice($event.index, 1, $event.question);
            });

            bus.$on('createdQuestion', ($event) => {
                this.questions.push($event);
            });
        },
        components: {stepComponent, editModalComponent},
        methods: {
            editQuestion(index){
                this.selected_question = JSON.parse(JSON.stringify(this.questions[index]));
                this.selected_question_index = index;
                this.editing = true;
                this.$modal.show('edit-question');
            },
            newQuestion(){
                this.selected_question = JSON.parse(JSON.stringify(this.new_question));
                this.editing = false;
                this.$modal.show('edit-question');
            },
            deleteQuestion(index){
                this.processing = true;
                if(this.questions.length < 2){
                    swal('Error!', 'Question not Deleted! (Exam must contain at least one question)', 'error');
                }else{
                    swal('Are you sure?', 'This Question will be deleted', 'warning', {
                        button: "Continue",
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                this.$store.dispatch('deleteQuestion', this.questions[index]).then((response) => {
                                    if (response.status === true) {
                                        this.processing = false;
                                        this.questions.splice(index, 1);
                                        swal('Success!', 'Question Deleted!', 'success');
                                    } else {
                                        this.processing = false;
                                        swal('error!', 'Server error occurred, question not deleted', 'error');
                                    }
                                });
                            }
                        });
                }
            },
        }
    }
</script>

<style>
    .upload_img {
        width: 30%;
        margin: auto;
        display: block;
        margin-bottom: 10px;
    }
</style>
