<template>
    <modal name="edit-question" height="auto" :scrollable="true">
        <div>
            <div class="">
                <div class="danger" v-show="error_notifications.length !==0">
                    <strong v-for="error in error_notifications">{{error}}</strong>
                    <br/>
                </div>
            </div>
            <div class="card border-3 panel-default">

                <div class="form-group">
                    <label for="name" class="form-control-label"><span
                            class="font-weight-bold"> Edit Question {{index + 1}}</span> <span class="text-danger">*</span>
                    </label>
                <div class="row">
                    <div class="col-sm-12">
                    <textarea cols="5" rows="5" required="required" 
                    v-model="question.name" :name="question.name" 
                    class="form-control" placeholder="Type in Question">
                        
                    </textarea>

                    <p ng-show=""
                           class="error-help-block">This field is required</p>
                    </div>
                </div>

                <div class="col-sm-12" v-if="!question.image" >
                    <b>Exam Upload (Optional)</b><br>
                <label class="">
                <input type="file" accept="image/*" :name="'questionImage'+index" class="custom-file-input form-control" 
                @change="onFileChange(index, $event)">
                <span class="custom-file-control"></span>
                </label>

                </div>

                <div v-else="" class="col-sm-12">
                        <div class="ui segment">
                            <img class="btn-danger btn-small" :src="question.image"/>
                            <a class="btn btn-danger" @click="removeImage(index)">x Remove</a>
                        </div>
                    </div>

                </div>
            

               
                <div class="col-md-6" v-for="(option, index) in question.options">
                <label for="name" class="form-control-label">Option {{index + 1}}
                <span class="text-danger">*</span>
                        </label>

                         <a href="#" class="text-info" @click="question.options.splice(index, 1)">
                            (Remove this option)
                            </a>
                    <input v-model="option.option"
                                   :name="option.option"
                                   required="required" class="form-control">

            <span>
                <div class="col-md-6">
               <label class="form-control-label">Correct Option</label>
                 </div>

                 <div class="col-sm-12">
                            <label class="ks-checkbox-switch ks-success">
                                <input type="checkbox" name="random_question"
                                       v-model="option.correct_option"
                                       value="1" id="random_question">
                                <span class="ks-wrapper"></span>
                                <span class="ks-indicator"></span>
                                <span class="ks-on">Yes</span>
                                <span class="ks-off">No</span>
                            </label>
                        </div>
            </span>
               
            </div>



        </div>

            

            

            </div>


                


                
                <div class="row m-3">
                    <div class="col-md-4 offset-4">
                        <button class="btn btn-success-outline"
                                @click="question.options.push(JSON.parse(JSON.stringify(new_option)))">+ more options


                        </button>
                    </div>
                </div>
            </div>

            <!---Exam Mark-->
            <div>
                <button :class="processing?'ui primary loading button disabled right floated':'ui primary button right floated'"
                        @click="updateQuestion()">{{processing ? 'Loading' : 'Save'}}

                </button>
            </div>
        </div>
    </modal>
</template>


<script>
    import axios from 'axios';
    import bus from './../../../events/eventBus.vue';
    export default{
        props: ['question','question-index','editing'],
        data(){
            return {
                error_notifications: [],
                index: null,
                new_option: {
                    option: null,
                    correct_option: false,
                },
                processing: false,
            }
        },
        created: function(){
        },
        computed: {},
                methods: {
                    updateQuestion(){
                        this.processing = true;
                if(this.editing){
                    this.$store.dispatch('updateQuestion', this.question).then((response) => {
                        if (response.status === true) {
                            this.processing = false;
                            bus.$emit('updatedQuestion', {question: this.question, index: this.questionIndex});
                            this.$modal.hide('edit-question');
                            swal('Success!', 'Question Updated!');
                        } else {
                            this.processing = false;
                            swal('error!', 'Server error occurred, some field might have not been filled Correctly !');
                        }
                    });
                }else{
                    this.$store.dispatch('createNewQuestion', this.question).then((response) => {
                        if (response.status === true) {
                            this.processing = false;
                            Object.assign(this.question, response.data);
                            //this.question.ref_id = response.data.ref_id;
                            bus.$emit('createdQuestion', this.question);
                            this.$modal.hide('edit-question');
                            swal('Success!', 'Question Added!');
                        } else {
                            this.processing = false;
                            this.$modal.hide('edit-question');
                            swal('error!', 'Server error occurred, some fields might have not been filled Correctly !');
                        }
                    });
                }
            },
            onFileChange(index, e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0], index);
            },
            createImage(file, index) {
                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.question.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            removeImage(index) {
                this.question.image = '';
            }
        }
    }

</script>

<style>
</style>
