<template>
    <div class="row col-md-12">
        <div class="col-md-4 offset-4">
            <div class="loading">
                <img src="/images/loading.gif" alt="loading" style="margin:0px auto">
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data () {
            return {}
        },
    }
</script>

<style>

</style>
