<template>
    <div id="">
        <div class="container">
            <component :is="currentView" :active-page="currentView" :edit="edit"></component>
        </div>
    </div>
</template>


<script>
    import createStepOne from './createStepOne.vue';
    import editQuestion from './editQuestion.vue';
    import createStepTwo from './createStepTwo.vue';
    import createStepTwoUpload from './createStepTwoUpload.vue';
    import loadingComponent from './loadingComponent.vue';
    import bus from './../../../events/eventBus.vue';
    import createdSuccessfully from './createdSuccessfullyComponent.vue';



    export default{
        name: 'exam-create',
        props: ['editExam','refId'],
        data(){
            return {
                currentView: 'loadingComponent',
                link: null,
                edit: this.editExam,
                ref_id: this.refId
            }
        },

        created: function () {
            bus.$on('changeStep', ($event) => {
                this.currentView = $event;
            });

            bus.$on('DataSaved', ($event) => {
                this.link = $event.link;
                this.currentView = 'createdSuccessfully';
            });

            if (this.edit) {
                this.$store.dispatch('getExistingExamAndQuestions',this.ref_id).then((response) => {
                    this.$store.dispatch('getAvailableSubjectsAndLevels').then((response) => {
                        this.currentView = 'createStepOne';
                    });
                });
            }else{
                this.$store.dispatch('getAvailableSubjectsAndLevels').then((response) => {
                    this.currentView = 'createStepOne';
                });
            }
        },
        components: {createStepOne, createStepTwo, createStepTwoUpload, createdSuccessfully, loadingComponent, editQuestion},
    }
</script>

<style>

</style>