<template>
    <div class="note">
        You have not setup programs yet. Click <a href="/program/create">here to
        create your first program</a>
    </div>
</template>

<script>
    export default {
        data(){
            return {

            }
        },
        components: {},

        computed: {
        },
        mounted: function () {
        },
        methods: {
        },
        created: function () {
        }

    }
</script>

<style>

</style>
