<template>
    <div>
        <div class="stepwizard m-4">
            <div class="stepwizard-row">
                <div class="stepwizard-step">
                    <button type="button" class="btn  btn-circle"
                            :class="activePage=='createStepOne'?'btn-success':'btn-default'">1
                    </button>
                    <h4 class="m-0">Exam Details</h4>
                    <p>Create your Exam, define basic configuration settings like name, course etc</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-circle"
                            :class="activePage=='createStepTwo'?'btn-success':'btn-default'">2
                    </button>
                    <h4 class="m-0">Add Questions </h4>
                    <p class="">Add questions to this exam (A exam must contain at least one question)</p>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import bus from './../../../events/eventBus.vue';

    export  default{
        props:['activePage'],
        data(){
            return {}
        },
        created: function () {
        },
    }
</script>
